<% provide(:title, "User Login") %>

<h1>User Login</h1>

You may log in with your username or with your email address.

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :login %><br />
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <br>
          <span>Remember me on this computer (check the above box)</span>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
<b>
<%= link_to "Admin Login", new_admin_session_path %><br />
</b>
