<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Temporary OmniAuth App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <%-# BEGIN: VARIABLE SECTION -%>
        <% if user_signed_in? %>
          <%-# BEGIN: USER SECTION -%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              User<br>Menu <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Your Profile", user_path(current_user) %></li>
              <li><%= link_to "Edit Settings", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
              </li>
            </ul>
          </li>
          <%-# END: USER SECTION -%>
        <% elsif admin_signed_in? %>
          <%-# BEGIN: ADMIN SECTION -%>
          <li><%= link_to "User Index",   users_path %></li>
          <li><%= link_to "Admin Index", admins_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Admin<br>Menu <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Your Profile", admin_path(current_admin) %></li>
              <li><%= link_to "Edit Settings", edit_admin_registration_path(current_admin) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Logout', destroy_admin_session_path, :method=>'delete' %>
              </li>
            </ul>
          </li>
          <%-# END: ADMIN SECTION -%>
        <% else %>
          <%-# BEGIN: GENERAL PUBLIC -%>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <%-# END: GENERAL PUBLIC -%>
        <% end %>
        <%-# END: VARIABLE SECTION -%>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact",   contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
